<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          
        </div>
        <div class="col-md-11">
          <span>
            
            <span> . Posted on
              <span> {{sujet.timestamp|date:'d/M/Y'}}</span>
              by              
              <a class="username" href="">User Test</a>
            </span>
            <p class="card-category"> Total number of comments is {{ insc?.length }}</p>
                        
          </span>
          <hr />
          <a routerLink="post.url" class="post-title">{{sujet.libelleSujet}}</a>
          <div>
            <p class="post-text" [innerHtml]="sujet.decreption"></p>
          </div>
          <div class="post-comment">
          
          <textarea class="form-control"  placeholder="Your Thoughts?" class ="form-control" id = "libelleCommentaire"
                [(ngModel)] = "commentaire" name = "commentaire"></textarea>
              </div>
              
              <button type="submit" (click)="addCommentaire()" class="button">Comment</button>
              
            
          
          <div style="margin-top: 60px;" *ngFor="let comment of comments">
            <div class="comment">
              <div class="username">
                <a routerLink="/user/comment.username">{{comment.comment}}</a>
              </div>
              <div>
                <span>
                <p>{{comment.timestamp|date:'d/M/Y'}}</p>
              
                </span>
              </div>
            </div>
            
              <button type="submit" (click)="deleteComment(comment.idCommantaire)" class="button">delete</button>
            
            <hr />
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</div>