
    <div class="card mb-3">
        <div class="card-body">
        <form>
            <div class="form-group">
                <label>Have coupon?</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                    <span class="input-group-append"> 
                        <button class="btn btn-primary">Apply</button>
                    </span>
                </div>
            </div>
        </form>
        </div> <!-- card-body.// -->
    </div>  <!-- card .// -->
    <div class="card">
        <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">{{totalcost}} TND</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Delivery:</dt>
                  <dd class="text-right">FREE</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right  h5"><strong>{{totalcost}} TND</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="assets/images/misc/payments.png" height="26">
                </p>
                
        </div> <!-- card-body.// -->
    </div>  <!-- card .// -->

