<div class="col-15 px-0">
  <app-topnav></app-topnav>
  </div>
  <div class="col-1 " >
    <app-sidenav></app-sidenav>
  </div>
<div class="row">
  <style>
    .pageContent {
      padding-left: 350px;
      text-align: center;
    }
    </style>

    <div class="pageContent col-20">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer ">
        <div class="text-center">2021-angular-project</div>
        <div class="text-center">
          © Copyright- all rights reserved
        </div>
    </footer>
</div>
